




/* game.html */

.wins {
    width: 20%;
    border: 1px solid black;
    display: inline-block;

}

.losses {
    width: 20%;
    border: 1px solid black;
    display: inline-block;

}

.restart {
    width: 50%;
    border: 1px solid black;
    display: inline-block;

}

#guess-area-col {
    border: 1px solid black;
    height: 300px;
}

#letter-area-col {
    border: 1px solid black;
    height: 300px;
}

#picture-are-col {
    border: 1px solid black;
    height: 300px;
}

